<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--    位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <activity android:name=".ui.activity.ToolkitCommonWebActivity" />
        <activity android:name=".ui.activity.ToolkitFeedbackActivity" />
        <activity android:name=".ui.activity.ToolkitAboutActivity" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:initOrder="100"
            tools:node="merge">
            <meta-data
                android:name="com.snowflake.toolkit.initializer.ToolKitInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>